// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;

$green: #45A193;
$light-green : #6FF9DE;
$dark-green: #2B6C6C;
$gray: #474747;
$light-gray: #757575;

// $background: #E4F4F3;
$background: #e6faf9;


