// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$light-gray: #F4F4F4;


$green: #45A193;
$light-green : #6FF9DE;
$dark-green: #2B6C6C;
$gray: #757575;
$background: #E4F4F3;


