.hello {
  color: $green;
  font-size: 75px;
}

.intro {
  font-weight: 300;
  font-style: italic;
  color: $gray;
}

// @media (max-width: 1200px) {

// }
// @media (max-width: 992px) {

// }

// @media (max-width: 768px) {

// }

@media (max-width: 576px) {
}
