.presentation {

  p {
    font-size: 18px;
    color: $gray;
  }

  .hello {
    color: $green;
    font-size: 75px;
  }

  .intro {
    font-weight: 300;
    font-style: italic;
    color: $light-gray;
    font-size: 30px;
  }
}



.contact {
  position: fixed;
  left: 3%;
  top: 29%;

  .vertical-line {
    border-left: 1px solid $green;
    border-left: 3px solid #45A193;
    height: 88px;
    margin-left: 45%;
  }
}

// @media (max-width: 1200px) {

// }
// @media (max-width: 992px) {

// }

// @media (max-width: 768px) {

// }

@media (max-width: 576px) {
}
