<div id="banner">
  <div class="hexagon">
    <span>
      <h1 class="my-name animate__animated animate__flipInX">Benoît Bargès</h1>
      <h2 class="fullstack animate__animated animate__flipInX animate__delay-1s">Développeur Web Full Stack</h2>
    </span>
  </div>
    <%= render "shared/contact" %>
</div>
