<div class="bio">
  <div class="row align-items-center justify-content-center">
    <div class="presentation col-12 col-sm-12 col-md-12 col-lg-6">
      <div>
        <h1 class="hello">Hello,</h1>
      </div>
      <h4 class="intro mb-4">Je suis un développeur Ruby On Rails, basé sur Paris et formé au Wagon en 2020</h4>
      <p>
        J'ai exercer le métier <strong>d'infirmier</strong> pendant 3 ans, mais n'ayant pas trouvé ma vocation
        j'ai pris la décision de m'écouter et de me reconvertir dans ce domaine qui me passionne.<br>
        <br>
        La curiosité et la passion pour l'univers de la tech m'ont conduit vers le code, et j'ai donc suivi le bootcamp du <strong>Wagon</strong>.
        On nous y enseigne le language Ruby et son utilisation à travers <strong>Ruby On Rails</strong>, mais surtout on nous transmet cette passion
        pour le code qui ne me quitte plus depuis. <br>
        <br>
        J'ai appris à travailler en équipe lorsque j'étais infirmier, et aujourd'hui j'adore le pair-programming, le partage
        de nouvelles connaissances et l'entraide au sein de la communauté des développeurs.
      </p>
    </div>
    <div class="picture col-12 col-sm-12 col-md-6">
      <div class="hexagon-picture" style="background-image: url('<%= image_path('benoit.jpg') %>');">
        <div class="hexTop-picture"></div>
        <div class="hexBottom-picture"></div>
      </div>
    </div>
  </div>
</div>
