<div class="contact">
  <div class="contact-element linkedin">
    <a href="https://www.linkedin.com/in/benoitbarges/" target="_blank">
      <div class="hexagon-contact">
        <span>
        </span>
      </div>
      <i class="fa-logo fab fa-linkedin-in"></i>
    </a>
  </div>

  <div class="contact-element github">
    <a href="https://github.com/benoitbarges" target="_blan">
      <div class="hexagon-contact">
        <span>
        </span>
      </div>
      <i class="fa-logo fab fa-github"></i>
    </a>
  </div>

  <div class="contact-element paper-plane">
    <a href="mailto:benoitbarges@gmail.com.com" target="_blank" rel="noopener">
      <div class="hexagon-contact">
        <span>
        </span>
      </div>
      <i class="fa-logo fas fa-paper-plane"></i>
    </a>
  </div>

  <div class="contact-element address-card" data-toggle="modal" data-target="#contactModal">
    <div class="hexagon-contact">
      <span>
      </span>
    </div>
    <i class="fa-logo fas fa-address-card"></i>
  </div>
</div>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Me contacter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="message-form">
         <p>Benoît Bargès</p>
         <p>06 37 40 04 77</p>
         <p>benoitbarges@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
