<div class="project-div">
  <div class="project-element animate__animated" data-toggle="collapse" data-target="#paillette" aria-expanded="false" aria-controls="paillette">
    <div class="hexagon-project" style="background-image: url('<%= image_path('paillette.jpg') %>');">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <%= image_tag "paillette.svg", class: "logo-paillette" %>
    <div class="hexagon-project-border spin-project"></div>
  </div>
  <h1 class="project-name animate__animated" data-toggle="collapse" data-target="#paillette" aria-expanded="false" aria-controls="paillette">Studio Paillette</h1>
  <div class="hide-animation-left"></div>
</div>

<div class="project-card row">
  <div class="col">
    <div class="collapse multi-collapse" id="paillette">
      <div class="card card-body d-flex">
        <div class="description">
          <strong>Studio Paillette</strong> est un site consacré à la mode, proposant à ses utilisateurs une sélection pointue de looks à adopter au quotidien.
          "Porte les pièces choisies autant que tu veux et libère de l'espace dans ton placard au fur et à mesure que tu les rends, pour en commander". <br>
          <br>
          J'ai developpé ce projet avec un ami du Wagon quelque temps après avoir terminé la formation. Nous avons collaboré avec les 2 créateurs de la marque afin de répondre au mieux à leurs attentes.
          Nous sommes actuellement en train de rendre le site responsive pour toutes les plateformes.
        </div>
        <div class="technologies">
          <h2>Technologies</h2>
          <ul>
            <li>Ruby On Rails</li>
            <li>Javascript</li>
            <li>Stripe</li>
            <li>Action Mailer</li>
            <li>HTML5</li>
            <li>SCSS</li>
          </ul>
        </div>
        <a href="https://www.studio-paillette.com/" target="_blank" class="link-to">
          <div class="green-button">
            <span class="before" style="background-image: url('<%= image_path('hexagon-btn.svg') %>');"></span>
            VOIR
            <span class="after" style="background-image: url('<%= image_path('hexagon-btn.svg') %>');"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
