<div id="banner">
  <div class="hexagon">
    <span>
      <h1 class="my-name animate__animated animate__flipInX">Benoît Bargès</h1>
      <h2 class="fullstack animate__animated animate__flipInX">Développeur Web Full Stack</h2>
    </span>
  </div>
</div>

<div>
  <h1>Hello,</h1>
</div>
<div>
  <h2>Je suis un développeur Ruby On Rails passionné, basé sur Paris et formé au Wagon en 2020</h2>
</div>

