<div class="container d-flex flex-column align-items-center">
  <div id="banner">
    <div class="hexagon">
      <span>
        <h1 class="my-name animate__animated animate__flipInX">Benoît Bargès</h1>
        <h2 class="fullstack animate__animated animate__flipInX animate__delay-1s">Développeur Web Full Stack</h2>
      </span>
    </div>
  </div>

  <div class="contact">
    <div class="contact-element">
      <a href="https://www.linkedin.com/in/benoitbarges/" target="_blank">
        <div class="hexagon-contact">
          <span>
          </span>
        </div>
        <i class="fa-logo fab fa-linkedin-in"></i>
      </a>
    </div>

    <div class="contact-element">
      <a href="https://github.com/benoitbarges" target="_blan">
        <div class="hexagon-contact">
          <span>
          </span>
        </div>
        <i class="fa-logo fab fa-github"></i>
      </a>
    </div>

    <div class="contact-element">
      <div class="hexagon-contact">
        <span>
        </span>
      </div>
      <i class="fa-logo fas fa-paper-plane"></i>
      <div class="vertical-line animate__animated animate__fadeInDown" hidden></div>
    </div>
  </div>

  <div>
    <h1 class="hello">Hello,</h1>
  </div>
  <div>
    <h4 class="intro">Je suis un développeur Ruby On Rails, basé sur Paris et formé au Wagon en 2020</h4>
    <p>
      J'ai été <strong>infirmier</strong> pendant 3 ans avant d'en arriver là, mais je n'avais pas trouvé ma vocation à travers ce métier.
      J'ai donc pris la décision de me reconvertir.<br>
      <br>
      La curiosité et la passion pour l'univers de la tech m'ont conduit vers le code, et j'ai donc suivi le bootcamp du Wagon.
      On nous y enseigne le language Ruby et son utilisation à travers Ruby On Rails, mais surtout on nous transmet cette passion
      pour le code qui ne me quitte plus depuis. <br>
      <br>
      J'ai appris à travailler en équipe lorsque j'étais infirmier, et aujourd'hui j'adore le pair-programming, le partage
      de nouvelles connaissances et l'entraide au sein de la communauté des développeurs.
    </p>
  </div>

  <div class="project-element">
    <div class="hexagon-project">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <%= image_tag "ama_no_bg.png" %>
  </div>
</div>

