<div class="container col-10 d-flex flex-column align-items-center">
  <%= render "shared/banner" %>

  <%= render "shared/bio" %>
  <%= render "shared/ama" %>
  <%= render "shared/paillette" %>
</div>

