.link-to {
  position: absolute;
  right: 16%;
  bottom: 0px;

  &:hover {
    text-decoration: none;
  }
}


.green-button {
  background: $light-green;
  color: $dark-green;
  position: relative;
  z-index: 10;
  height: 45px;
  width: 80px;
  align-self: center;
  text-align: center;
  padding-top: 10px;
}

.green-button .before,
.green-button .after {
  content: "";
  width: 50px;
  height: 45px;
  position: absolute;
  z-index: -1;
  top: 0px;
}

.green-button .before {
  left: -25px;
}

.green-button .after {
  right: -25px;
}

.react-button {
  width: 130px;
}

.react-button-div {
  justify-content: space-evenly;
}

// @media (max-width: 1200px) {

// }
// @media (max-width: 992px) {

// }

// @media (max-width: 768px) {

// }

@media (max-width: 576px) {
  .link-to {
  position: initial;
  align-self: center;
  margin-top: 40px;
  }

  .react-button-div {
    flex-direction: column !important;
    align-items: center;
    margin-top: 0 !important;
  }

  .margin-top-30 {
    margin-top: 30px;
  }
}


