.modal-content {
  color: $dark-green;
  border: 1px solid $dark-green;

  .modal-body {
    font-size: 18px;
  }

  .form-control {

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(111,249,222,1);
    }
  }

  .my-email {
    color: $dark-green;
  }
}

