.hexagon-project {
  position: relative;
  width: 350px;
  height: 202.07px;
  margin: 101.04px 0;
  background-size: auto 392.5982px;
  background-position: center;
  border-left: solid 5px #ffffff;
  border-right: solid 5px #ffffff;
  filter: blur(0px);
  z-index: 20;

  // &:hover {
  //    // box-shadow: 0 0 8px rgba(111,249,222,1);
  // }
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 247.49px;
  height: 247.49px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 46.26px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 340.0000px;
  height: 196.29909152447277px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
  filter: blur(2px);
}

.hexReact,
.hexReact:after {
  filter: blur(0px) !important;
}

.hexTop {
  top: -123.7437px;
  border-top: solid 7.0711px #ffffff;
  border-right: solid 7.0711px #ffffff;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -123.7437px;
  border-bottom: solid 7.0711px #ffffff;
  border-left: solid 7.0711px #ffffff;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon-project:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 340.0000px;
  height: 196.2991px;
  z-index: 20;
  background: inherit;
  filter: blur(2px);
}
// -----------------------------------------------------------------------------
//                                Hexagon-project-border
// -----------------------------------------------------------------------------

.hexagon-project-border {
  position: absolute;
  width: 385px;
  height: 222.28px;
  background-color: $background;
  margin: 111.14px 0;
  border-left: solid 5px $green;
  border-right: solid 5px $green;
  z-index: 10;
  top: -5%;
  right: -5%;
  transition: box-shadow 0.3s ease-in-out;

  @keyframes spin{
    100% { transform: rotate(360deg); }
  }

  @-webkit-keyframes spin{
    100% { -webkit-transform: rotate(360deg); }
  }
  @-moz-keyframes spin{
    100% { -moz-transform: rotate(360deg); }
  }
}

.hexagon-project-border:before,
.hexagon-project-border:after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 272.24px;
  height: 272.24px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 51.3819px;
}

.hexagon-project-border:before {
  top: -136.1181px;
  border-top: solid 7.0711px $green;
  border-right: solid 7.0711px $green;
}

.hexagon-project-border:after {
  bottom: -136.1181px;
  border-bottom: solid 7.0711px $green;
  border-left: solid 7.0711px $green;
}

// -----------------------------------------------------------------------------
//                                  project-div
// -----------------------------------------------------------------------------

.project-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 5%;
  align-items: center;
  position: relative;

  .project-name {
    color: $green;
    cursor: pointer;
    width: 50%;
    z-index: 0;
    text-align: center;
  }

  .hide-animation-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 5;
    background-color: $background;
  }

  .hide-animation-left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 5;
    background-color: $background;
  }
}

.project-element {
  position: relative;
  cursor: pointer;
  animation-duration: 1s ease;
  z-index: 10;

  @keyframes slide-right {
    100% { transform: translateX(-90%);}
  }

  @-webkit-keyframes slide-right {
    100% { transform: translateX(-90%); }
  }

  @-moz-keyframes slide-right {
    100% { transform: translateX(-90%); }
  }

  @keyframes slide-left {
    100% { transform: translateX(88%);}
  }

  @-webkit-keyframes slide-left {
    100% { transform: translateX(88%); }
  }

  @-moz-keyframes slide-left {
    100% { transform: translateX(88%); }
  }


  img {
    position: absolute;
    z-index: 100;
  }

  .logo-ama {
    top: 36%;
    left: 6%;
    width: 90%;
  }

  .logo-paillette {
    top: 46%;
    left: 15%;
    width: 70%;
  }
}

.spin-project {
  animation: spin infinite linear;
  animation-duration: 60s;
}

.slide-right {
  animation: slide-right 1s ease forwards;
}

.slide-left {
  animation: slide-left 1s ease forwards;
}

// @media (max-width: 1200px) {

// }
// @media (max-width: 992px) {

// }

// -----------------------------------------------------------------------------
//                                 MAX WIDTH 768px
// -----------------------------------------------------------------------------


@media (max-width: 768px), (max-width: 992px) {

// -----------------------------------------------------------------------------
//                                  project-div
// -----------------------------------------------------------------------------

  .project-div {
    flex-direction: column;
    justify-content: flex-end;
    height: 550px;
    margin-bottom: 25%;

    .project-name {
      order: 1;
      font-size: 24px;
      width: 100%;
      position: absolute;
      bottom: -24%;
    }

    .hide-animation-left,
    .hide-animation-right {
      display: none;
    }
  }

  .project-element {

    @keyframes slide-right {
      100% { transform: translateY(0%);}
    }

    @-webkit-keyframes slide-right {
      100% { transform: translateY(0%); }
    }

    @-moz-keyframes slide-right {
      100% { transform: translateY(0%); }
    }

    @keyframes slide-left {
      100% { transform: translateY(0%);}
    }

    @-webkit-keyframes slide-left {
      100% { transform: translateY(0%); }
    }

    @-moz-keyframes slide-left {
      100% { transform: translateY(0%); }
    }
  }
}

// -----------------------------------------------------------------------------
//                                 MAX WIDTH 576px
// -----------------------------------------------------------------------------

@media (max-width: 576px), (max-height: 576px) {
  .hexagon-project {
    position: relative;
    width: 215px;
    height: 124.13px;
    margin: 62.07px 0;
    background-size: auto 236.7136px;
    background-position: center;
    border-left: solid 5px #ffffff;
    border-right: solid 5px #ffffff;
  }

  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 152.03px;
    height: 152.03px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 26.49px;
  }

  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 205.0000px;
    height: 118.35680518387329px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-59.1784px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-59.1784px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-59.1784px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }

  .hexTop {
    top: -76.0140px;
    border-top: solid 7.0711px #ffffff;
    border-right: solid 7.0711px #ffffff;
  }

  .hexTop:after {
    background-position: center top;
  }

  .hexBottom {
    bottom: -76.0140px;
    border-bottom: solid 7.0711px #ffffff;
    border-left: solid 7.0711px #ffffff;
  }

  .hexBottom:after {
    background-position: center bottom;
  }

  .hexagon-project:after {
    content: "";
    position: absolute;
    top: 2.8868px;
    left: 0;
    width: 205.0000px;
    height: 118.3568px;
    z-index: 2;
    background: inherit;
  }

// -----------------------------------------------------------------------------
//                                Hexagon-project-border
// -----------------------------------------------------------------------------

  .hexagon-project-border {
    position: absolute;
    width: 235px;
    height: 135.68px;
    background-color: $background;
    margin: 67.84px 0;
    border-left: solid 5px #45a193;
    border-right: solid 5px #45a193;
  }

  .hexagon-project-border:before,
  .hexagon-project-border:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 166.17px;
    height: 166.17px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 29.4150px;
  }

  .hexagon-project-border:before {
    top: -83.0850px;
    border-top: solid 7.0711px #45a193;
    border-right: solid 7.0711px #45a193;
  }

  .hexagon-project-border:after {
    bottom: -83.0850px;
    border-bottom: solid 7.0711px #45a193;
    border-left: solid 7.0711px #45a193;
  }


// -----------------------------------------------------------------------------
//                                  project-div
// -----------------------------------------------------------------------------

  .project-div {
    flex-direction: column;
    justify-content: flex-end;
    height: 400px;

    .project-name {
      order: 1;
      font-size: 24px;
      width: 100%;
      position: absolute;
      bottom: -4%;
    }

    .hide-animation-left,
    .hide-animation-right {
      display: none;
    }
  }

  .project-element {
    margin-bottom: 20%;

    @keyframes slide-right {
      100% { transform: translateY(20%);}
    }

    @-webkit-keyframes slide-right {
      100% { transform: translateY(20%); }
    }

    @-moz-keyframes slide-right {
      100% { transform: translateY(20%); }
    }

    @keyframes slide-left {
      100% { transform: translateY(20%);}
    }

    @-webkit-keyframes slide-left {
      100% { transform: translateY(20%); }
    }

    @-moz-keyframes slide-left {
      100% { transform: translateY(20%); }
    }
  }
}

