.hexagon-project {
  position: relative;
  width: 350px;
  height: 202.07px;
  margin: 101.04px 0;
  // background-image: url("tennis.jpeg");
  background-size: auto 392.5982px;
  background-position: center;
  border-left: solid 5px #ffffff;
  border-right: solid 5px #ffffff;
  filter: blur(0px);
  z-index: 20;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 247.49px;
  height: 247.49px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 46.26px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 340.0000px;
  height: 196.29909152447277px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-98.1495px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
  filter: blur(2px);
}

.hexTop {
  top: -123.7437px;
  border-top: solid 7.0711px #ffffff;
  border-right: solid 7.0711px #ffffff;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -123.7437px;
  border-bottom: solid 7.0711px #ffffff;
  border-left: solid 7.0711px #ffffff;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon-project:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 340.0000px;
  height: 196.2991px;
  z-index: 20;
  background: inherit;
  filter: blur(2px);
}
// -----------------------------------------------------------------------------
// Hexagon-project-border
// -----------------------------------------------------------------------------

.hexagon-project-border {
  position: absolute;
  width: 385px;
  height: 222.28px;
  background-color: #e4f4f3;
  margin: 111.14px 0;
  border-left: solid 5px $green;
  border-right: solid 5px $green;
  z-index: 10;
  top: -5%;
  right: -5%;

  @keyframes spin{
    100% { transform: rotate(360deg); }
  }

  @-webkit-keyframes spin{
    100% { -webkit-transform: rotate(360deg); }
  }
  @-moz-keyframes spin{
    100% { -moz-transform: rotate(360deg); }
  }
}

.hexagon-project-border:before,
.hexagon-project-border:after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 272.24px;
  height: 272.24px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 51.3819px;
}

.hexagon-project-border:before {
  top: -136.1181px;
  border-top: solid 7.0711px $green;
  border-right: solid 7.0711px $green;
}

.hexagon-project-border:after {
  bottom: -136.1181px;
  border-bottom: solid 7.0711px $green;
  border-left: solid 7.0711px $green;
}

// -----------------------------------------------------------------------------
// project-div
// -----------------------------------------------------------------------------

.project-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10%;
  align-items: center;
  position: relative;

  .project-name {
    color: $green;
    cursor: pointer;
    width: 50%;
    z-index: 0;
    text-align: center;
  }

  .hide-animation-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 5;
    background-color: $background;
  }

  .hide-animation-left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 5;
    background-color: $background;
  }
}

.project-element {
  position: relative;
  cursor: pointer;
  animation-duration: 1s ease;
  z-index: 10;

  @keyframes slide-right {
    100% { transform: translateX(-90%);}
  }

  @-webkit-keyframes slide-right {
    100% { transform: translateX(-90%); }
  }

  @-moz-keyframes slide-right {
    100% { transform: translateX(-90%); }
  }

  @keyframes slide-left {
    100% { transform: translateX(88%);}
  }

  @-webkit-keyframes slide-left {
    100% { transform: translateX(88%); }
  }

  @-moz-keyframes slide-left {
    100% { transform: translateX(88%); }
  }


  img {
    position: absolute;
    z-index: 100;
  }

  .logo-ama {
    top: 36%;
    left: 6%;
    width: 90%;
  }

  .logo-paillette {
    top: 46%;
    left: 15%;
    width: 70%;
  }
}

.spin-project {
  animation: spin infinite linear;
  animation-duration: 60s;
}

.slide-right {
  animation: slide-right 1s ease forwards;
}

.slide-left {
  animation: slide-left 1s ease forwards;
}
