.hexagon {
  position: relative;
  width: 500px;
  height: 288.68px;
  background-color: #ffffff;
  margin: 144.34px 0;
  box-shadow: 0 0 8px rgba(111,249,222,1);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 353.55px;
  height: 353.55px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 73.2233px;
  box-shadow: 0 0 8px rgba(111,249,222,1);
}

.hexagon:before {
  top: -176.7767px;
}

.hexagon:after {
  bottom: -176.7767px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:500px;
  height:288.6751px;
  z-index: 2;
  background: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// @media (max-width: 1200px) {

// }
// @media (max-width: 992px) {

// }

@media (max-width: 768px), (max-height: 768px) {
  .hexagon {
    position: relative;
    width: 400px;
    height: 230.94px;
    background-color: #ffffff;
    margin: 115.47px 0;
    box-shadow: 0 0 8px rgba(111,249,222,1);
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 282.84px;
    height: 282.84px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 58.5786px;
    box-shadow: 0 0 8px rgba(111,249,222,1);
  }

  .hexagon:before {
    top: -141.4214px;
  }

  .hexagon:after {
    bottom: -141.4214px;
  }

  /*cover up extra shadows*/
  .hexagon span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:400px;
    height:230.9401px;
    z-index: 2;
    background: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 576px), (max-height: 576px) {
  .hexagon {
    position: relative;
    width: 300px;
    height: 173.21px;
    background-color: #ffffff;
    margin: 86.60px 0;
    box-shadow: 0 0 8px rgba(111,249,222,1);
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 43.9340px;
    box-shadow: 0 0 8px rgba(111,249,222,1);
  }

  .hexagon:before {
    top: -106.0660px;
  }

  .hexagon:after {
    bottom: -106.0660px;
  }

  /*cover up extra shadows*/
  .hexagon span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:300px;
    height:173.2051px;
    z-index: 2;
    background: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
